<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger!</title>
		{{!-- CSS --}}
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		{{!-- UIkit Stylesheet --}}
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<img src="assets/img/burger_img.png" id="burger_img" class="uk-align-center uk-margin-top">

		{{{ body }}}

		<img src="assets/img/burger_img.png" id="burger_img" class="uk-align-center uk-margin-top">
	</body>

{{!-- UIkit JS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
</html>
